/java/ReflectometerStage/nbproject/private/
/java/ReflectometerStage/build/
/java/ReflectometerStage/dist/
/java/ReflectometerStage/package/
/java/test/MaskTDefaultSetup/nbproject/private/
/java/test/MaskTDefaultSetup/build/
/java/test/MaskTDefaultSetup/dist/
/java/test/MaskTDefaultSetup/package/
/java/test/DetectorTDefaultSetup/nbproject/private/
/java/test/DetectorTDefaultSetup/build/
/java/test/DetectorTDefaultSetup/dist/
/java/test/DetectorTDefaultSetup/package/
/java/test/MaskXDefaultSetup/nbproject/private/
/java/test/MaskXDefaultSetup/build/
/java/test/MaskXDefaultSetup/dist/
/java/test/MaskXDefaultSetup/package/
/java/test/MaskYDefaultSetup/nbproject/private/
/java/test/MaskYDefaultSetup/build/
/java/test/MaskYDefaultSetup/dist/
/java/test/MaskYDefaultSetup/package/
/java/test/MaskZDefaultSetup/nbproject/private/
/java/test/MaskZDefaultSetup/dist/
/java/test/MaskZDefaultSetup/build/
/java/test/MaskZDefaultSetup/package/
/java/test/DetectorXDefaultSetup/nbproject/private/
/java/test/DetectorXDefaultSetup/dist/
/java/test/DetectorXDefaultSetup/build/
/java/test/DetectorXDefaultSetup/package/
